%tr
	%td{:align=>'left'}
		&= problem_row.problem
	%td{:align=>'left'}
		&= problem_row.solution
	%td{:align=>'right'}
		= problem_row.year.to_s
	%td{:align=>'right'}
		= problem_row.meet.to_s
	%td{:align=>'right'}
		= problem_row.round.to_s
	%td{:align=>'right'}
		= problem_row.number.to_s
